In [1]:
import pandas as pd
import os

In [2]:
directory = '/Users/pault/paultangerusda drive/2020_Sync/COVID analysis (Paul Tanger)/data/SME_data/RECOVR'

In [3]:
# check specific questions
# PHP doesn't have inc6 instead inc7_2.. they all have various forms of caseid and submission date if we want later
cols = ['duration', 'country', 'inc2', 'inc3', 'inc4', ]
cols_php = cols + ['inc7_2', 'inc8']
cols_other = cols + ['inc6', 'inc8']

In [16]:
# get filenames 
df_dict = {}
for dirs, subdirs, files in os.walk(directory):
    for file in files:
        if file.endswith('.dta'):
            # make df name
            df_name = f'df_{file[:3]}'
            # make filepath
            filepath = os.path.join(directory, file)
            # put into dict
            df_dict[df_name] = pd.io.stata.read_stata(filepath)
            # add col for country
            df_dict[df_name]['country'] = file[:3]
#             print(list(df_dict[df_name].columns))
            # only keep cols we need
            if file[:3] == 'PHP':
                filtered = df_dict[df_name].loc[:, cols_php]
                # rename col to match others
                filtered.rename(columns={'inc7_2' : 'inc6'})
                df_dict[df_name] = filtered
            else:
                filtered = df_dict[df_name].loc[:, cols_other]
                df_dict[df_name] = filtered

In [17]:
# check sizes
for k, df in df_dict.items():
    print(df.shape)
    print(df.columns)

(1507, 7)
Index(['duration', 'country', 'inc2', 'inc3', 'inc4', 'inc6', 'inc8'], dtype='object')
(1484, 7)
Index(['duration', 'country', 'inc2', 'inc3', 'inc4', 'inc6', 'inc8'], dtype='object')
(1274, 7)
Index(['duration', 'country', 'inc2', 'inc3', 'inc4', 'inc6', 'inc8'], dtype='object')
(1329, 7)
Index(['duration', 'country', 'inc2', 'inc3', 'inc4', 'inc6', 'inc8'], dtype='object')
(1327, 7)
Index(['duration', 'country', 'inc2', 'inc3', 'inc4', 'inc6', 'inc8'], dtype='object')
(1357, 7)
Index(['duration', 'country', 'inc2', 'inc3', 'inc4', 'inc6', 'inc8'], dtype='object')
(1304, 7)
Index(['duration', 'country', 'inc2', 'inc3', 'inc4', 'inc6', 'inc8'], dtype='object')
(1389, 7)
Index(['duration', 'country', 'inc2', 'inc3', 'inc4', 'inc7_2', 'inc8'], dtype='object')
(1633, 7)
Index(['duration', 'country', 'inc2', 'inc3', 'inc4', 'inc6', 'inc8'], dtype='object')

In [71]:
# check for ZMB why no to inc2?
ZMB = df_dict['df_ZMB']

In [72]:
ZMB['inc2'].unique()

[NaN, 'Yes', 'No']
Categories (2, object): ['No' < 'Yes']

In [77]:
ZMB.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1274 entries, 0 to 1273
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   duration  1274 non-null   object
 1   country   1274 non-null   object
 2   inc2      801 non-null    category
 3   inc3      512 non-null    category
 4   inc4      845 non-null    category
 5   inc6      748 non-null    category
 6   inc8      553 non-null    category
dtypes: category(5), object(2)
memory usage: 77.6+ KB

In [76]:
ZMB[ZMB['inc2'].notna()]

,duration,country,inc2,inc3,inc4,inc6,inc8
1,2254,ZMB,Yes,NaN,Agriculture,"Yes, Business remains open but operations have...",NaN
2,1385,ZMB,Yes,NaN,Transportation and storage,"No, temporarily or permanently closed due to f...",Less
4,1617,ZMB,No,No,NaN,NaN,NaN
5,1385,ZMB,No,No,NaN,NaN,NaN
7,1805,ZMB,No,Yes,Agriculture,NaN,NaN
...,...,...,...,...,...,...,...
1266,361,ZMB,Yes,NaN,Agriculture,"Yes, Business remains open as usual",Same
1269,284,ZMB,Yes,NaN,Retail or Wholesale,"Yes, Business remains open as usual",Same
1271,394,ZMB,No,Yes,Agriculture,NaN,NaN
1272,291,ZMB,No,No,NaN,NaN,NaN
1273,6539,ZMB,Yes,NaN,Agriculture,"Yes, Farming work has not changed",NaN

In [75]:
ZMB[ZMB['inc2'].isna()]

,duration,country,inc2,inc3,inc4,inc6,inc8
0,1527,ZMB,NaN,NaN,Accomodation and food services,"Yes, Business remains open but operations have...",NaN
3,2126,ZMB,NaN,NaN,Agriculture,"No, temporarily or permanently closed due to f...",Less
6,1566,ZMB,NaN,NaN,Education,"No, temporarily or permanently closed due to f...",NaN
9,2013,ZMB,NaN,NaN,Agriculture,"Yes, Business remains open but operations have...",Less
11,1259,ZMB,NaN,NaN,Manufacturing,"Yes, Business remains open but operations have...",Same
...,...,...,...,...,...,...,...
1261,649,ZMB,NaN,NaN,Transportation and storage,"Yes, Business remains open as usual",More
1265,1976,ZMB,NaN,NaN,Transportation and storage,"Yes, Business remains open as usual",More
1267,349,ZMB,NaN,NaN,Other services,"Yes, Business remains open as usual",NaN
1268,512,ZMB,NaN,NaN,Other services,"Yes, Business remains open but operations have...",Same
1270,821,ZMB,NaN,NaN,Education,"Yes, Business remains open but some or many wo...",NaN

In [22]:
# concat into one df
combined = pd.concat(df_dict.values())

In [88]:
# combined2 = pd.concat(df_dict.values(), axis=0, ignore_index=True)

In [113]:
# another way
# combined3 = pd.DataFrame.from_dict(map(dict, df_dict.values()))

In [19]:
cols = ['duration', 'country', 'inc2', 'inc3', 'inc4', 'inc6', 'inc8']

In [23]:
income_questions = combined.loc[:,cols]

In [24]:
income_questions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12604 entries, 0 to 1632
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   duration  12603 non-null  object
 1   country   12604 non-null  object
 2   inc2      10093 non-null  object
 3   inc3      8371 non-null   object
 4   inc4      8940 non-null   object
 5   inc6      7916 non-null   object
 6   inc8      5587 non-null   object
dtypes: object(7)
memory usage: 787.8+ KB

In [91]:
# if answered either inc2 or inc3
to_check = income_questions.loc[((income_questions['inc2'].notna()) | (income_questions['inc3'].notna())), :]

In [80]:
ZMB_no_inc2 = to_check[to_check['country'] == 'ZMB']

In [85]:
ZMB_no_inc2[ZMB_no_inc2['inc2'] == 'No']

     duration country inc2 inc3         inc4 inc6 inc8
4        1617     ZMB   No   No          NaN  NaN  NaN
5        1385     ZMB   No   No          NaN  NaN  NaN
7        1805     ZMB   No  Yes  Agriculture  NaN  NaN
8        1455     ZMB   No   No          NaN  NaN  NaN
10        458     ZMB   No   No          NaN  NaN  NaN
...       ...     ...  ...  ...          ...  ...  ...
1247     1417     ZMB   No  Yes  Agriculture  NaN  NaN
1249     1192     ZMB   No   No          NaN  NaN  NaN
1263      515     ZMB   No   No          NaN  NaN  NaN
1271      394     ZMB   No  Yes  Agriculture  NaN  NaN
1272      291     ZMB   No   No          NaN  NaN  NaN

[512 rows x 7 columns]

In [69]:
to_check.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10094 entries, 1 to 1632
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   duration  10093 non-null  object
 1   country   10094 non-null  object
 2   inc2      10093 non-null  object
 3   inc3      8371 non-null   object
 4   inc4      6464 non-null   object
 5   inc6      5446 non-null   object
 6   inc8      4072 non-null   object
dtypes: object(7)
memory usage: 630.9+ KB

In [86]:
# now keep if they answered if biz is open or closed
# to_check = to_check.dropna(subset=['inc6'], axis=0)

In [87]:
to_check.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5446 entries, 1 to 1632
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   duration  5446 non-null   object
 1   country   5446 non-null   object
 2   inc2      5445 non-null   object
 3   inc3      3750 non-null   object
 4   inc4      4808 non-null   object
 5   inc6      5446 non-null   object
 6   inc8      3396 non-null   object
dtypes: object(7)
memory usage: 340.4+ KB

In [96]:
ZMB_no_inc2 = to_check[to_check['country'] == 'ZMB']
ZMB_no_inc2[ZMB_no_inc2['inc2'] == 'No']

Empty DataFrame
Columns: [duration, country, inc2, inc3, inc4, inc6, inc8]
Index: []

In [95]:
ZMB_no_inc2

,duration,country,inc2,inc3,inc4,inc6,inc8
2,1385,ZMB,Yes,NaN,Transportation and storage,"No, temporarily or permanently closed due to f...",Less
22,1463,ZMB,Yes,NaN,Other services,"Yes, Business remains open but operations have...",Less
23,1045,ZMB,Yes,NaN,Agriculture,"Yes, Business remains open but operations have...",Less
27,1921,ZMB,Yes,NaN,Agriculture,"Yes, Farming work has not changed",Same
44,1608,ZMB,Yes,NaN,Agriculture,"Yes, Business remains open but operations have...",Less
...,...,...,...,...,...,...,...
1256,791,ZMB,Yes,NaN,Retail or Wholesale,"Yes, Business remains open as usual",Same
1262,414,ZMB,Yes,NaN,Agriculture,"Yes, Business remains open as usual",Same
1264,317,ZMB,Yes,NaN,Retail or Wholesale,"Yes, Business remains open but operations have...",Less
1266,361,ZMB,Yes,NaN,Agriculture,"Yes, Business remains open as usual",Same
1269,284,ZMB,Yes,NaN,Retail or Wholesale,"Yes, Business remains open as usual",Same

In [92]:
# now keep if they answered how much they are working now
to_check = to_check.dropna(subset=['inc8'], axis=0)

In [93]:
to_check.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4072 entries, 1 to 1622
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   duration  4072 non-null   object
 1   country   4072 non-null   object
 2   inc2      4072 non-null   object
 3   inc3      2792 non-null   object
 4   inc4      3834 non-null   object
 5   inc6      3396 non-null   object
 6   inc8      4072 non-null   object
dtypes: object(7)
memory usage: 254.5+ KB

In [47]:
to_check.head()

,duration,country,inc2,inc3,inc4,inc6,inc8
1,21.8167,COL,Yes,NaN,Mining,Yes,Less
9,16.7833,COL,Yes,NaN,Retail trade and vehicle reparation,No,Less
14,22.1333,COL,Yes,NaN,Manufacturing Industry,No,Less
77,41.2,COL,Yes,NaN,Low skilled services (e.g. household workers),No,Less
84,17.3,COL,Yes,NaN,Retail trade and vehicle reparation,Yes,Less

In [49]:
# how many answered for type of biz
to_check2 = to_check.dropna(subset=['inc4'], axis=0)
to_check2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3195 entries, 1 to 1622
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   duration  3195 non-null   object
 1   country   3195 non-null   object
 2   inc2      3195 non-null   object
 3   inc3      1937 non-null   object
 4   inc4      3195 non-null   object
 5   inc6      3195 non-null   object
 6   inc8      3195 non-null   object
dtypes: object(7)
memory usage: 199.7+ KB

In [50]:
# rename cols
to_check2.columns = ['duration', 'country', 'run_biz_feb', 'work_fam_biz_feb', 'main_job_sector', 'biz_still_open', 'worked_past_week_compared_feb']

In [51]:
to_check2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3195 entries, 1 to 1622
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   duration                       3195 non-null   object
 1   country                        3195 non-null   object
 2   run_biz_feb                    3195 non-null   object
 3   work_fam_biz_feb               1937 non-null   object
 4   main_job_sector                3195 non-null   object
 5   biz_still_open                 3195 non-null   object
 6   worked_past_week_compared_feb  3195 non-null   object
dtypes: object(7)
memory usage: 199.7+ KB

In [56]:
to_check2.to_csv(directory + '_raw.csv', index=False)

In [105]:
final = to_check2.drop('duration', axis=1)

In [106]:
final.head()

,country,run_biz_feb,work_fam_biz_feb,main_job_sector,biz_still_open,worked_past_week_compared_feb
1,COL,Yes,NaN,Mining,Yes,Less
9,COL,Yes,NaN,Retail trade and vehicle reparation,No,Less
14,COL,Yes,NaN,Manufacturing Industry,No,Less
77,COL,Yes,NaN,Low skilled services (e.g. household workers),No,Less
84,COL,Yes,NaN,Retail trade and vehicle reparation,Yes,Less

In [ ]:
# these cols still have some codes we need to map:
# main_job_sector (CDI) biz_still_open (RWA)
# also, GHN, RWA, ZMB don't have "no" for inc2

In [60]:
# get counts for some simple answers
grouped = final.groupby('country').agg(run_biz_feb = ('run_biz_feb', 'count'))

In [109]:
final = final[['country', 'run_biz_feb']]

In [114]:
final[final['run_biz_feb'] == 'No']

     country run_biz_feb
223      COL          No
286      COL          No
319      COL          No
414      COL          No
510      COL          No
...      ...         ...
1282     SLE          No
1292     SLE          No
1294     SLE          No
1296     SLE          No
1298     SLE          No

[1071 rows x 2 columns]

In [115]:
final.pivot_table(index='country', aggfunc='count', margins=True) # (index='User-ID', columns='ISBN', values='Book-Rating', fill_value=-1).reset_index()

DataError: No numeric types to aggregate

In [ ]:
# grouped['sme3'].plot.bar('sme3', title='experienced layoffs etc due to COVID?');